{% extends "header.html" %}
{% block body %}  

<div class="container" style="margin-top:50px">
  <form action="/novo_projeto" method="post" > 
    
    <h5> Projeto </h5>
    <hr>    
    <div class="row">
        <div class="col">
          <label for="cargas" class="form-label">Nome Projeto:		
        </label>
          <input type="text" class="form-control" name="nome_projeto" required>
        </div>
        <div class="col">
          <label for="potencia" class="form-label">Responsável Técnico:</label>
          <input type="text" class="form-control" name="responsavel_tecnico">
        </div>
        <div class="col">
          <label for="material" class="form-label">Tipo Projeto: </label>
          <select class="custom-select custom-select-sm" id="tipo" name="tipo">
            <option value="Media" selected >Média Tensão</option>
            <option value="Baixa" disabled >Baixa Tensão</option>
          </select>
        </div>
    </div>
    <div class="row mt-4">    
        <div class="col">
          <label for="tensao" class="form-label">Observações: </label>
          <textarea class="form-control" name="observacao" rows="12" cols="50">  </textarea>
        </div>
    </div>   
    
      
      <hr  class="mt-4">
      <button type="button" class="btn btn-secondary" onclick="window.location='/'"> Voltar </button>
      <button type="submit" class="btn btn-primary">Salvar</button>
      
      
</form>
</div>
{% endblock %}


